#    Trigger on push to main
#    Build the Docker image
#    Run the container
#    Test all endpoints
#    Stop and clean the container afterward

name: My First Workflow
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test-api:
    runs-on: ubuntu-latest
    env:
      API_URL: "http://localhost:8080"
      PAYLOAD_FEE: '{ "distance_km": 10.5, "weight_kg": 2.0}'
      RESP_FEE: "22.75"
      BUILD_TAG: ""

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # This action clones the content of the current repo into the remote runner

      - name: Build the Docker image
        run: |
          BUILD_TAG=$(date +%s)
          docker build . -t delivery-fee-service

      - name: Run de l'image docker
        run: |
          docker run -d -p 8080:8080 delivery-fee-service
          echo "BUILD_TAG=$BUILD_TAG"

      - name: Test API
        run: |
          set -e
          sleep 3
          curl -sS $API_URL | tee response.txt
          msg=$(cat response.txt | jq -r '.message')
          echo "msg=$msg"
          if [ "$msg" != "Welcome to the DoorDash Delivery Fee Service API" ]; then
            echo "API is not up or wrong API" >&2
            exit 1
          else
            echo "API is up and running"
          fi
      
      - name: Test calculate-fee
        run: |
          set -e
          curl -sS -X POST \
            -H "Content-Type: application/json" \
            -d '$PAYLOAD_FEE' \
            ${API_URL}/calculate-fee/ | tee response_fee.txt
          fee=$(cat response_fee.txt)
          echo "fee=$fee"
          fee=$(cat response_fee.txt | jq -r '.delivery_fee')
          if [ "$fee" == "$RESP_FEE" ]; then
            echo "Test calculate-fee successful"
          else
            echo "Test failed: expected $RESP_FEE but was $fee"
            #exit 1
          fi

      - name: Setup Python
        uses: actions/setup-python@v5 # This action installs python (version below)
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r tests/requirements.txt # It installs all the necessary dependencies from requirements.txt

      - name: Run unit test
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: pytest tests/

      - name: Show container logs (for debugging)
        if: always()
        run: docker logs delivery-fee-service || true


